
body {
    background: #00416e;
}

#container {
    height: 569px;
    width: 776px;
    background: url(../images/login.gif);
    margin: auto;

}

#loginForm {
    padding-top: 50px;
    margin: auto;
    position: relative;
    height: 450px;
    width: 550px;
}

#u17 {
    position: absolute;
    font-family: 'Helvetica Regular', 'Helvetica';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #AE5300;
    cursor: pointer;

}

table {
    margin: auto;
    margin-top: 10px;
    color: #ddd;
    width: 550px;
    height: 90%;
    text-align: center;

}

#title {
    font-size: 30px;
    font-family: 'Arial Normal', 'Arial';
    color: #fff;
    font-weight: bold;
}

table tr {
    height: 20px;
}

a {
    color: #fff;
}

a:hover {
    color: #00FFFF;
}

label.error {
    color: red;
    font-size: 12px;
    margin-left: 5px;
    padding-left: 16px;
}

.button {
    width: 105px;
    position: relative;
}

.p1 {
    float: right;
    margin-right: 20px;
}

.p2 {
    float: left;
}