.ywz_zhuce_hongxian {
    float: left;
    background: #ff3300;
    width: 62px;
    height: 4px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 0px;
}

.ywz_zhuce_hongxian2 {
    float: left;
    background: #099;
    width: 62px;
    height: 4px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 0px;
}

.ywz_zhuce_hongxian3 {
    float: left;
    background: #060;
    width: 62px;
    height: 4px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 0px;
}

.ywz_zhuce_hongxianwenzi {
    float: left;
    width: 62px;
    margin-left: 5px;
    text-align: center;
    color: #b0adad;
    font-size: 12px;
}

.ywz_zhuce_huixian {
    float: left;
    background: #d6d3d3;
    width: 62px;
    height: 4px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 0px;
}